.button {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  color: $black;
  border: 4px solid $black;
  background-color: $white;
  padding: 18px;
  font-size: 1.25em;
  line-height: 1.2;
  &:hover {
    color: $main;
    border-color: $main;
  }
  &:active {
    color: $alert;
    border-color: $alert;
  }
  @media (--width-md), (--height-md) {
    border-width: 3px;
    font-size: 1em;
    padding: 13px;
  }
  @media (--width-sm), (--height-sm) {
    border-width: 2px;
    font-size: 0.8em;
    padding: 10px;
  }
}

.button_padding-wide {
  padding-left: 35px;
  padding-right: 35px;
  @media (--width-md), (--height-md) {
    padding-left: 28px;
    padding-right: 28px;
  }
  @media (--width-sm), (--height-sm) {
    padding-left: 24px;
    padding-right: 24px;
  }
}
