.sidebar {
  background-color: #eb6670;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-right: 8px solid #000000;
}

.sidebar__content {
  width: 80%;
  text-align: center;
}

.sidebar__button-slot {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sidebar__text {
  font-size: 1.125em;
}

.sidebar__link {
  font-size: 1.25em;
  color: #000000;
  display: inline-block;
}

.sidebar__link:hover {
  color: #eeeeee;
}

.sidebar__link:active {
  color: #ffffff;
}

.sidebar__logo {
  width: 60%;
}

.sidebar__alert {
  font-size: 1.125em;
}

.sidebar__menu {
  padding: 0;
}

.sidebar__menu-item {
  list-style: none;
  margin-bottom: 3vh;
}

.sidebar__link_menu {
  text-decoration: none;
}

.sidebar__link_active {
  font-weight: bold;
  text-decoration: underline;
}

@media screen and (max-width: 800px), screen and (max-height: 800px) {
  .sidebar__text,
  .sidebar__alert {
    font-size: 0.9em;
  }
  
  .sidebar__link {
    font-size: 1em;
  }

  .sidebar__logo {
    width: 50%;
  }
}

@media screen and (max-width: 600px), screen and (max-height: 600px) {
  .sidebar__text,
  .sidebar__alert {
    font-size: 0.75em;
  }
  
  .sidebar__link {
    font-size: 0.8em;
  }

  .sidebar__logo {
    width: 30%;
  }

  .sidebar {
    border-right: 5px solid #000000;
  }
}
