.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 70%;
  height: 100%;
}

.form__title {
  font-size: 2.25em;
  margin: 0;
}

.form__label {
  font-size: 1,125em;
  display: block;
  width: 100%;
}

.form__label:focus-within {
  color: #eb6670;
}

.form__input {
  font-size: 1.25em;
  display: block;
  border: none;
  border-bottom: 1px solid #000000;
  width: 100%;
}

@media screen and (max-width: 800px), screen and (max-height: 800px) {
  .form__title {
    font-size: 1.8em;
  }
  
  .form__label {
    font-size: 0.9em;
  }

  .form__input {
    font-size: 1em;
  }
}

@media screen and (max-width: 600px), screen and (max-height: 600px) {
  .form__title {
    font-size: 1.2em;
  }
  
  .form__label {
    font-size: 0.75em;
  }

  .form__input {
    font-size: 0.8em;
  }
}
