.popup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popup__container {
    position: relative;
    width: 600px;
    height: 500px;
    max-width: 90%;
    max-height: 90%;
    border: 8px solid $main;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.popup__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    display: block;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
}

.popup__title {
    font-size: 2.25em;
    @media (--width-md), (--height-md) {
        font-size: 1.8em;
    }
}

.popup__content {
    max-width: 90%;
    display: flex;
    justify-content: center;
}

.popup__label {
    font-size: 1.125em;
    display: block;
    width: 400px;
    max-width: 90%;
    text-align: left;
    &:focus-within {
        color: $main;
    }
    @media (--width-md), (--height-md) {
        font-size: 0.9em;
    }
}

.popup__input {
    font-size: 1.25em;
    display: block;
    border: none;
    border-bottom: 1px solid $black;
    width: 100%;
    @media (--width-md), (--height-md) {
        font-size: 1em;
    }
}

.popup__alert {
    font-size: 1.25em;
    color: $alert;
    @media (--width-md), (--height-md) {
        font-size: 1em;
    }
}

.popup__buttons {
    display: flex;
}

.popup__button,
.popup__button-secondary {
    min-width: 100px;
    margin: 0 25px;
}
