.alert {    
    display: flex;
    height: 100%;
}

.alert__sidebar {
    box-sizing: border-box;
    width: 40%;
}

.alert__main-block {
    box-sizing: border-box;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20vh 0;
    text-align: center;
}

.alert__title-wrapper {
    text-align: center;
}

.alert__title,
.alert__code {
    font-size: 2.25em;
    @media (--width-md), (--height-md) {
        font-size: 1.8em;
    }
    @media (--width-sm), (--height-sm) {
        font-size: 1.2em;
    }
}

.alert__description {
    font-size: 1.25em;
    @media (--width-md), (--height-md) {
        font-size: 1em;
    }
    @media (--width-sm), (--height-sm) {
        font-size: 0.8em;
    }
}

.alert__go-back-button {
    padding: 22px 40px;
    @media (--width-md), (--height-md) {
        padding: 18px 32px;
    }
    @media (--width-sm), (--height-sm) {
        padding: 12px 22px;
    }
}
