.avatar-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
  width: 75%;
  text-align: center;
}

.avatar-uplaod__title {
  font-size: 1.5em;
}

.avatar-uplaod__title_error {
  color: #e4212b;
}

.avatar-upload__label,
.avatar-upload__filename {
  color: #eb6670;
  text-decoration: underline;
  font-size: 1.5em;
}

.avatar-upload__filename {
  display: none;
  text-decoration: none;
}

.avatar-upload__input {
  display: none;
}

.avatar-upload__button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatar-upload__alert {
  visibility: hidden;
  color: #e4212b;
  font-size: 1.125em;
}

@media screen and (max-width: 800px), screen and (max-height: 800px) {
  .avatar-uplaod__title,
  .avatar-upload__label,
  .avatar-upload__filename {
    font-size: 1.2em;
  }

  .avatar-upload__alert {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 600px), screen and (max-height: 600px) {
  .avatar-uplaod__title,
  .avatar-upload__label,
  .avatar-upload__filename {
    font-size: 0.8em;
  }

  .avatar-upload__alert {
    font-size: 0.75em;
  }
}
