.chat {    
  display: flex;
  justify-content: space-between;
}

.chat__sidebar {
  width: 40%;
  margin-right: 20px;
}

.chat__main-block {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.chat__messages {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
  flex-grow: 1;
  position: relative;
}

.chat__messages-list {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chat__messages-list::-webkit-scrollbar {
  display: none;
}

.chat__message-item {
  box-sizing: border-box;
  margin: 20px 20px 10px;
  text-align: left;
  align-self: flex-start;
  width: 75%;
}

.chat__message-item:last-child:after {
  content: "";
  display: block;
  height: 30px;
  width: 100%;
}

.chat__message-item_own {
  align-self: flex-end;
}

.chat__message {
  border: 2px solid #eb6670;
  box-shadow: 4px 4px 4px 0px rgba(235, 102, 112, 0.25);
  background: #ffffff;
  padding: 18px 15px;
  margin: 0;
  font-size: 1.25em;
}

.chat__date {
  font-size: 1.125em;
  margin: 0;
  padding-top: 10px;
}

.chat__date_own {
  text-align: right;
}

.chat__message_image {
  width: auto;
}

.chat__message-img {
  display: block;
  max-width: 100%;
}

.chat__message_own {
  border: 2px solid #000000;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
}

.chat__form {
  box-sizing: border-box;
  width: 100%;
}

.chat__attach {
  list-style: none;
  box-sizing: border-box;
  height: 120px;
  margin-top: 0;
  margin-bottom: 42px;
  padding: 0 40px;
  justify-content: space-around;
  align-items: center;
  display: none;
}

.chat__attach_visible {
  display: flex;
}

.chat__attach-option {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 60%;
  font-size: 1.5em;
}

.chat__attach-option:not(:last-child) {
  border-right: 3px solid #000000;
}

.chat__attach-label {
  cursor: pointer;
}

.chat__attach-label:hover {
  color: #eb6670;
}

.chat__attach-label:active {
  color: #e4212b;
}

.chat__attach-input{
  display: none;
}

.chat__attach:after,
.chat__attach:before {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  width: 0;
  height: 0;
  border-style: solid;
}

.chat__attach:after {
  border-color: #ffffff transparent transparent transparent;
  right: 135px;
  border-width: 30px;
}

.chat__attach:before {
  border-color:  #000000 transparent transparent transparent;
  right: 125px;
  border-width: 40px;
}

.chat__new-message {
  box-sizing: border-box;
  flex-grow: 1;
  height: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.chat__textarea {
  font-family: 'Roboto', sans-serif;
  flex-grow: 1;
  resize: none;
  font-size: 1.25em;
  padding: 10px;
  border: 1px solid #000000;
}

.chat__form-button {
  cursor: pointer;
  display: block;
  background-color: #ffffff;
  border: none;
  margin: 0;
  padding: 0;
  width: 70px;
  margin-left: 30px;
}

.chat__button-image {
  display: block;
  width: 100%;
  height: 100%;
}

.chat__form-button_attach:hover .chat__button-image {
  filter: invert(45%) sepia(74%) saturate(767%) hue-rotate(313deg) brightness(104%) contrast(84%);
}

.chat__form-button_attach:active .chat__button-image {
  filter: invert(14%) sepia(78%) saturate(6086%) hue-rotate(351deg) brightness(97%) contrast(85%);
}

.chat__form-button_submit:hover {
  transform: scale(1.05);
}

.chat__form-button_submit:active {
  transform: scale(1.1);
}

.chat__warning {
  font-size: 1.5em;
  line-height: 2;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 800px), screen and (max-height: 800px) {
  .chat__warning,
  .chat__attach-option {
    font-size: 1.2em;
  }

  .chat__message-item {
    margin: 16px 16px 8px;
  }

  .chat__message {
    padding: 14px 12px;
    font-size: 1em;
  }
  
  .chat__date {
    font-size: 0.9em;
    padding-top: 8px;
  }

  .chat__textarea {
    font-size: 1em;
  }

  .chat__sidebar {
    margin-right: 16px;
  }

  .chat__messages {
    margin-bottom: 16px;
  }
  
  .chat__attach {
    margin-bottom: 38px;
    height: 90px;
    padding: 0;
  }

  .chat__new-message {
    padding: 0 20px;
    height: 130px;
  }
  
  .chat__form-button {
    width: 50px;
    margin-left: 20px;
  }

  .chat__attach:after {
    right: 85px;
    border-width: 30px;
  }
  
  .chat__attach:before {
    right: 75px;
    border-width: 40px;
  }
}

@media screen and (max-width: 600px), screen and (max-height: 600px) {
  .chat__warning,
  .chat__attach-option {
    font-size: 0.8em;
  }

  .chat__message-item {
    align-self: center;
    margin: 10px 10px 5px;
    width: 90%;
  }

  .chat__message {
    padding: 14px 12px;
    font-size: 0.8em;
  }
  
  .chat__date {
    font-size: 0.7em;
    padding-top: 8px;
  }

  .chat__textarea {
    font-size: 0.8em;
  }

  .chat__sidebar {
    margin-right: 10px;
  }

  .chat__messages {
    margin-bottom: 10px;
  }
  
  .chat__attach {
    margin-bottom: 14px;
    height: 60px;
  }

  .chat__new-message {
    padding: 0 10px;
    height: 100px;
  }
  
  .chat__form-button {
    width: 30px;
    margin-left: 10px;
  }

  .chat__attach:after {
    right: 55px;
    border-width: 10px;
  }
  
  .chat__attach:before {
    right: 50px;
    border-width: 15px;
  }
}
