.error {    
  display: flex;
}

.error__main-block {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20vh 0;
  text-align: center;
}

.error__title-wrapper {
  text-align: center;
}

.error__title,
.error__code {
  font-size: 2.25em;
}

.error__description {
  font-size: 1.25em;
}

.error__go-back-button {
  padding: 22px 40px;
}

@media screen and (max-width: 800px), screen and (max-height: 800px) {
  .error__title,
  .error__code {
    font-size: 1.8em;
  }
  
  .error__description {
    font-size: 1em;
  }

  .error__go-back-button {
    padding: 18px 32px;
  }
}

@media screen and (max-width: 600px), screen and (max-height: 600px) {
  .error__title,
  .error__code {
    font-size: 1.2em;
  }
  
  .error__description {
    font-size: 0.8em;
  }

  .error__go-back-button {
    padding: 12px 22px;
  }
}
