.message {
    box-sizing: border-box;
    margin: 20px 20px 10px;
    text-align: left;
    align-self: flex-start;
    width: 75%;
    @media (--width-md), (--height-md) {
        margin: 16px 16px 8px;
    }
    @media (--width-sm), (--height-sm) {
        align-self: center;
        margin: 10px 10px 5px;
        width: 90%;
    }
}

.message_own {
    margin-left: auto!important;
}

.message_image {
    width: max-content;
    max-width: 75%;
    @media (--width-sm), (--height-sm) {
        max-width: 90%;
    }
}

.message__content {
    border: 2px solid $main;
    box-shadow: 4px 4px 4px 0px rgba(235, 102, 112, 0.25);
    background: $white;
}

.message__content_own {
    border: 2px solid $black;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
}

.message__text {
    margin: 0;
    padding: 18px 15px;
    font-size: 1.25em;
    @media (--width-md), (--height-md) {
        padding: 14px 12px;
        font-size: 1em;
    }
    @media (--width-sm), (--height-sm) {
        font-size: 0.8em;
    }
}

.message__date {
    font-size: 1.125em;
    margin: 0;
    padding-top: 10px;
    @media (--width-md), (--height-md) {
        padding-top: 8px;
        font-size: 0.9em;
    }
    @media (--width-sm), (--height-sm) {
        font-size: 0.7em;
    }
}

.message__date_own {
    text-align: right;
}

.message__img {
    display: block;
    box-sizing: border-box;
    max-width: 100%;
    padding: 18px 15px 0;
    @media (--width-md), (--height-md) {
        padding: 14px 12px 0;
    }
    @media (--width-sm), (--height-sm) {
        margin-left: 0;
    }
}

.message__img_own {
    margin-left: auto;
}

.message__mark {
    filter: grayscale(1) opacity(0.3);
}

.message__mark_readed {
    filter: unset;
}
